/*Fonts*/

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


/*Variables*/

:root {
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-extra-blue: #5496BD;
  --basic-gray: #eeeeee;
  --basic-gray-2: #EBEBEB;
  --basic-gray-3: #E5E5E5;
  --basic-gray-4: #CACACA;
  --basic-gray-5: #ABABAB;
  --basic-extra-gray: #F2F2F2; 
  --basic-dark-gray: #666666;
  --basic-black-gray: #333333;
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --basic-extra-brown: #503E33; 
  
  --white-opacity: rgba(255, 255, 255, 0.3);
  --white-more-opacity: rgba(255, 255, 255, 0.9);
  --black-opacity: rgba(0, 0, 0, 0.3);
  --container-shadow: rgba(0, 1, 1, 0.2);
  --pop-ap-shadow: rgba(0, 1, 1, 0.15);
  --toggle-shadow: rgba(171, 171, 171, 0.3);
}


/*Global*/

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-extra-gray);

  min-height: 100%;
  display: grid;
  grid-template-rows: 
    min-content
    1fr
    min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Grid*/

.page {
  height: 100%;
}

.feature-item-1 {
  grid-column: 1/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: minmax(256px, max-content);
}

.feature-item-2 {

  display: grid;
  grid-template-columns: 400px 400px 400px;
  padding: 0;
  width: 1200px;
}


.standout-feature-item-1 {
 
}

.standout-feature-item-2 {
  grid-column: 3/4;
}

.feature-img-1 {
  width: 800px;
  background-color: var(--basic-extra-gray);
}

.feature-img-2 {
  width: 800px;
  background-color: var(--basic-extra-gray);
}

.feature-item-3 {
  grid-column: 1/2;
}

.feature-item-4 {
  grid-column: 2/3;
}

.feature-item-5 {
  grid-column: 3/4;
}

/*Main header*/

.main-header {
  margin: 0;
  padding: 0;
}

/*Main navigation*/

.main-navigation {
  background-color: var(--basic-white);
}

.site-navigation {
  display: flex;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  flex-wrap: wrap;
}

.site-navigation li {
  width: 228px;
  
  margin-top: 14px;
  margin-bottom: 16px;
}

.site-navigation li:nth-child(2) {
  margin-right: 140px;
}


.site-navigation li:nth-child(1), .site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3), .site-navigation li:nth-child(4) {
  text-align: right;
}

.photo {
  margin-right: 100px;
  text-align: start;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:focus {
  color: var(--basic-brown)
}

/*Container*/

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 5px 15px var(--container-shadow);
  background-color: var(--basic-white);
}

/*Logo*/

.main-header-bar {
  background-color:var(--basic-white);
}

.main-navigation-wrapper {
  padding: 0 auto;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 56px;
}


.main-header-logo {
  position: absolute;
  z-index: 1;
}

/*Main welcome*/

.main-welcome {
  display: flex;
  background-color: var(--basic-gray-4);
  background: url(../img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 508px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.main-welcome::after {
  content: "";
  height: 57px;
  width: 1200px;
  background-image: url(../img/shape.svg);
  background-size: 100% auto;
  background-repeat: no-repeat; 
  position: absolute;
  bottom: -1px;
}

.main-welcome img {
  align-self:center;
  margin-top: 76.35px;
  margin-bottom:auto;
}

.welcome-p {
  margin-top: 42.5px;
  margin-bottom: 45px;
  padding-left: 365px;
  padding-right: 365px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
}

/*Section features*/

.features {
  text-align: center;
  color: var(--basic-black-gray);
  margin-bottom: 58px;
}

.features-list {
  margin: 0;
  margin-top: 51px;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.features-nested-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column: 1/4;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 330px;
}

.feature-img-1 img {
  position: absolute;
  top: 0; 
  bottom: 0; 
  right: 0;
  margin: auto;
}

.feature-img-2 img{
  position: absolute;
  top: 0; 
  bottom: 0; 
  left: 0;
  margin: auto;
}

.features-p {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black-gray);
}

.feature-item p {
  margin: 0;
  padding: 0;
}

.feature-item p:first-of-type {
  margin-top: 25px;
  margin-bottom: 28px;
}

.standout-feature-item h3 {
  margin: 0;
}

.feature-item-gray h3 {
  margin: 0;
}

.standout-feature-item {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  width: 400px;
}

.feature-item h3,
.recommendation-item h3 {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.standout-feature-item h3 {
  color: var(--basic-white);
  padding: 50px 125px 0 125px;
}

.standout-feature-item p {
  padding: 0px 49px 0 49px;
}

.recommendation-item h3{
  padding-top: 160px;
  margin: 0;
}
.recommendation-item p {
  padding: 2px 50px 0px 50px;
}

.recommendation-item {
  background-color: var(--basic-white);
  position: relative;
}

.recommendation-item-1 h3::before {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -38px;
  width: 75px;
  height: 72px;
  background: url(../img/icons/icon-1.svg) no-repeat top center;
  background-size: 75px 72px;
}

.recommendation-item-2 h3::before {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -38px;
  width: 75px;
  height: 72px;
  background: url(../img/icons/icon-2.svg) no-repeat top center;
  background-size: 75px 72px;
}

.recommendation-item-3 h3::before {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -38px;
  width: 75px;
  height: 72px;
  background: url(../img/icons/icon-3.svg) no-repeat top center;
  background-size: 75px 72px;
}

.feature-item-gray {
  list-style: none;
  background-color: var(--basic-gray);
  padding: 47px 71px 54px 71px;
}

.feature-item-gray h3 {
  padding: 0 50px 0 50px;
}
/*Section search*/

.search {
  text-align: center;
}

.subtitle {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 35px;
  padding-right: 10px;
}

.subtitle + p {
  font-size: 14px;
  line-height: 24px;
  margin: 30px 0 15px 0;
  color: var(--basic-black-gray);
}

.button-search {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 568px;
  padding: 30px 50px;
  margin-top: 30px;
  border: 0;
}

.button-search:hover {
  color: var(--basic-white);
  background-color: var(--basic-dark-brown);
}

.button-search:active  {
  color: var(--white-opacity);
  background-color: var(--basic-extra-brown);
}

.hotel-search {
  padding: 55px;
}

.hotel-search-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-search-item {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

.hotel-search-item label {
  align-self: center;
  width: 112px;
  text-align: left;
}

.hotel-search-item .children {
  text-align: center;
  width: 90px;
}

.hotel-search-item button {
  padding: 0;
  height: 38px;
  width: 39px;
  position: absolute;
  border: none;
  display: block;
}

button.plus {
  background: transparent;
}

button.minus {
  background: transparent;
}

.minus {
  width: 38px;
  height: 38px;
  top: -3px;
  right: 75px;
}

.minus:hover rect {
  fill: var(--basic-black);
}

.minus:active rect {
  fill: var(--basic-blue);
}

.plus {
  width: 38px;
  height: 38px;
  top: 0px;
  right: 0px;
}

.plus:hover path {
  fill: var(--basic-black);
}

.plus:active path {
  fill: var(--basic-blue);
}

.calendar {
  width: 21px;
  height: 23px;
  top: 0px;
  right: 0px;
}

.calendar:hover path {
  fill: var(--basic-black);
}

.calendar:active path {
  fill: var(--basic-blue);
}

.index-input {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  background: var(--basic-extra-gray);
  border: 0;
}

.index-input:hover {
  background: var(--basic-gray-2);
}

.index-input:focus {
  background: var(--basic-white);
  outline: 2px solid var(--basic-gray-3);
}

.index-input-text {
  width: 290px;
}

.index-input-text[type="text"] {
  text-transform: uppercase;
  padding: 6px 45px 6px 12px;
}

.index-input-number {
  text-align: center;
  width: 24px;
  height: 38px;
  padding: 0;
  padding-left: 45px;
  padding-right: 45px;
}

.pop-ap {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
  width: 568px;
  z-index: 1;
  background-color: var(--basic-white);
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--basic-white);
  box-shadow: 0 7px 15px var(--pop-ap-shadow);
  z-index: 1;
}

.map {
  position: relative;
  min-height: 593px;
  background-color: var(--basic-extra-gray);
  overflow-x: hidden; 
}

.map .map-img {
  position: absolute;
  top: 0;
  display: block;
  width: 1200px;
  max-width: inherit;
  height: 593px;
}

.filter-index-button {
  padding: 16px 48px;
  margin-top: 24px;
  background: var(--basic-blue);
  width: 458px;
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: 0;
  text-transform: uppercase;
}

.filter-index-button:hover {
  background: var(--basic-dark-blue);
}

.filter-index-button:active {
  background: var(--basic-extra-blue);
  color: var(--white-opacity);
}


/*Main footer*/

.footer-index {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-more-opacity);
}

.main-footer {
  background: var(--white-more-opacity);
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer-contacts {
  width: 400px;
  height: 120px;
}

.footer-contacts div{
  margin-left: 70px;
  margin-top: 24px;
}

.contacts-wrapper p:first-of-type {
  margin-bottom: 10px;
}

.contacts-wrapper p {
  margin: 0;
}

.footer-social {
  display:flex;
  width: 400px;
  align-items: center;
}

.footer-copyright {
  width: 400px;
  display: flex;
  justify-content: center;
}

.footer-copyright div {
  margin-right: 70px;
  padding-top: 5px;
}

.footer-contacts a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-contacts p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: auto;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: inherit;
  margin-top: 3px;
  margin-bottom: 3px;
}

.social-button:hover {
  background-color: var(--basic-dark-blue);
}

.social-button:focus {
  background-color: var(--basic-extra-blue);
}

.social-button:focus path {
  fill: var(--white-opacity);
}

.footer-copyright div{
  font-size: 14px;
  line-height: 26px;
  width: 197px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright-button:hover path {
  fill: var(--basic-dark-blue);
}

.copyright-button:focus path {
  fill: var(--black-opacity);
}

/*Catalog.html*/

/*header*/

.site-navigation .current-nav {
  color: var(--basic-brown);
}

/*section filters*/

.filters {
  background: var(--basic-extra-blue) url(../img/catalog/background.jpg) no-repeat center;
  background-size: cover;
  min-height: 217px;
  
}

.filter {
  color: var(--basic-white);
  display: flex;
  padding: 27px 73px  30px 73px;
}

.fieldset-catalog{
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 240px;
  width: 24%;
}

.filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters legend{
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 24px;
}

.price legend {
  margin-bottom: 10px;
}

.infrastructure {
  min-width: 135px;
}

.h-type {
  min-width: 135px;
}

.filter-option + .filter-option {
  margin-top: 23px;
}

.price {
  min-width: 317px;
  margin-left: auto;
}

.filter-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 41px;
  user-select: none;
  vertical-align: middle;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background: url(../img/icons/checkbox-off.svg) no-repeat top left;
  background-size: 23px 23px;
}

.filter-checkbox:checked ~ .checkbox-label::before {
  background-image: url(../img/icons/checkbox-on.svg);
  background-size: 27px 23px;
  width: 27px;
  height: 23px;
}

.filter-checkbox:focus ~ .checkbox-label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.range-filter {
  width: 317px;
}

.price-controls {
  display: flex;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls label{
  position: relative;
  width: 50%;
  text-align: center;
}

.price-controls label:nth-child(2):before {
  content: "";
  position: absolute;
  display: block;
  top: -1px;
  left: 0;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.input-catalog {
  font: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--basic-white);
  width: 30px;
}

.min-price input {
  width: 10px;
}

.range-controls {
  position: relative;
  padding: 20px 0;
}

.scale {
  height: 2px;
  background-color: var(--white-opacity);
}

.bar {
  width: 80%;
  height: 100%;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  transform: translateY(-50%);
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray-5);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--toggle-shadow);
  cursor: pointer;
  overflow: hidden;
}

.toggle:hover {
  transform: scale(1.2, 1.1) translateY(-45%);
}

.toggle-max {
  margin-left: 80%;
}

.button-wrapper {
  text-align:center;
  margin-top: 12px;
  padding-right: 10px;
}

.filter-search-button {
  text-transform: uppercase;
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  width: 137px;
  height: 36px;
}

.filter-search-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/*section catalog*/


.search-results {
  display: flex;
  align-items: center;
  padding: 29px 73px 31px 73px;
  border-bottom: 1px solid var(--basic-gray-3);
  flex-wrap: wrap;
}

.sort-inversion {
  padding: 0;
  padding-left: 20px;
  margin: 0;
  list-style: none;
  margin-left: auto;
  display: flex;
  width: 34px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.sort-button:hover path {
  fill: var(--basic-black);
}

.sort-button:active path {
  fill: var(--basic-blue);
}


.current-sort-innversion path {
  fill: var(--basic-blue);
}
.sorting-subtitle {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-right: 46px;
}

.sorting-subtitle p {
  margin: 0;
  display: inline;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
}

.sorting p {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-right: 40px;
}

.sorting-list {
  list-style: none;
  display: flex;
  margin:0;
  padding:0;
  justify-content: baseline;
  flex-wrap: wrap;
}

.sorting-item {
  padding-bottom: 4px;
}

.sorting-item + .sorting-item {
  margin-left: 33px;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: var(--black-opacity);
  border-bottom: 1px dashed var(--basic-blue);
}

.sorting-list a:hover {
  color: var(--basic-blue);
}

.sorting-list a:focus {
  color: var(--basic-blue);
  border: none;
}

.sorting-list a:active {
  color: var(--basic-black);
  border: none;
}

.sorting-list .current-sort {
  color: var(--basic-blue);
  border: none;
}

.rating {
  background: var(--basic-extra-gray);
  color: var(--basic-dark-gray);
  text-align: center;
  width: 110px;
  height: 27px;
  line-height: 1.9em;
}

.rating-star {
  margin-top: 4px;
  text-align: right;
}

.star {
  width: 19px;
  height: 17px;
  font-size: 0;
  overflow: hidden;
  background: url(../img/icons/star.svg) no-repeat top left;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: flex;
  border-bottom: 1px solid var(--basic-gray-3);
  padding: 25px 73px 24px;
}

.catalog-item p {
  margin: 0;
  margin-top: 7px;
}

.catalog-item-img {
  min-width: 135px;
  margin-right: 29px;
  padding-top: 5px;
}

.catalog-item-img img {
  width: 135px;
  height: 90px;
}

.catalog-item-info {
  margin-right: auto;
}

.catalog-item-info p {
  display: flex;
}

.house-type {
  width: 116px;
  color: var(--basic-black-gray);
}

.price-from {
  color: var(--basic-black-gray);
}

.rating-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}

.rating-info p {
  margin: 0;
}

.catalog-item h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.lodging-name {
  color: var(--basic-black);
}

.lodging-name h3 {
  margin: 0;
}

.lodging-name:hover {
  color: var(--basic-blue);
}

.lodging-name:active {
  color: var(--black-opacity);
}

span.house-type {
  
}

.button {
  display: inline-block;
  vertical-align: top;
  padding: 3px 17px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
}

.catalog-reservation {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  font-weight: bold;
  padding: 3px;
  padding-left: 16px;
  padding-right: 17px;
  max-width: 250px;
}

.catalog-reservation:hover {
  background-color: var(--basic-dark-brown);
}

.catalog-reservation:active {
  color: var(--white-opacity);
  background-color: var(--basic-extra-brown);
}

.catalog-detail {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  font-weight: bold;
  padding: 3px;
  padding-left: 17px;
  padding-right: 16px;
  margin-right: 2px;
  max-width: 250px;
}

.catalog-detail:hover {
  background-color: var(--basic-dark-blue);
}

.catalog-detail:active {
  color: var(--white-opacity);
  background-color: var(--basic-extra-blue);
}

.catalog-button {
  margin-top: 15.5px;
  height: 26px;
}

/*Experiment*/

.standout-item-wrapper {
  position: relative;
  grid-column: 1/4;
  grid-row: 1/2;
  min-height: 256px;
  display: flex;
  overflow: hidden;
}