/*Fonts*/

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}


/*Variables*/

:root {
    --basic-white: #ffffff;
    --basic-white-opacity: rgba(255, 255, 255, 0.9);
    --basic-blue: #81B3D2;
    --basic-gray: #eeeeee;
    --basic-black-gray: #333333;
    --basic-black: #000000;
    --basic-brown: #766357;
    --basic-dark-brown: #604E43;
    --basic-extra-brown: #503E33;
}


/*Global*/

.page-body {
    min-width: 960px;
    font-family: PT Sans;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    background-color: var(--basic-white);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/*Main navigation*/

.site-navigation {
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    font-weight: bold;
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover {
    color: var(--basic-blue);
}

.site-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.site-navigation a:focus {
  color: var(--basic-brown)
}

/*Main welcome*/

.welcome-p {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

/*Section features*/

.features {
  text-align: center;
}

.features-p {
  font-size: 14px;
  line-height: 26px;
}

.feature-item,
.recommendation-item {
    color: black;
    list-style: none;
}

.standout-feature-item {
    background-color: var(--basic-blue);
    color: var(--basic-white);
}

.feature-item h3,
.recommendation-item h3 {
    font-size: 21px;
    line-height: 21px;
}

.recommendation-list {
  background-color: var(--basic-white);
}

.features-list-wrapper {
  background-color: var(--basic-gray);
}

/*Section search*/

.search {
  text-align: center;
}

.subtitle {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

.subtitle + p {
  font-size: 14px;
  line-height: 24px;
}

.button-search {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  font-size: 21px;
  line-height: 26px;
}

.button-search:hover {
  color: var(--basic-white);
  background-color: var(--basic-dark-brown);
}

.button-search span:active  {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--basic-extra-brown);
}

/*Footer*/

.main-footer {
  background: var(--basic-white-opacity);
}

.footer-contacts a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-contacts p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
}
