/*Fonts*/

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


/*Variables*/

:root {
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-extra-blue: #5496BD;
  --basic-gray: #eeeeee;
  --basic-extra-gray: #F2F2F2; 
  --basic-dark-gray: #666666;
  --basic-black-gray: #333333;
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --basic-extra-brown: #503E33; 
  
  --white-opacity: rgba(255, 255, 255, 0.3);
  --white-more-opacity: rgba(255, 255, 255, 0.9);
  --black-opacity: rgba(0, 0, 0, 0.3);
}


/*Global*/

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-columns: 
    ;
  grid-template-rows: 
    min-content
    1fr
    min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


/*Grid*/

.page {
  height: 100%;
}

.feature-item-1 {
  grid-area: f1;
}

.feature-img-1 {
  grid-column: 2/4;
  grid-area img1;
}

.recommendation-item-1 {
  grid-area: r1;
}

.recommendation-item-2 {
  grid-area: r2;
}

.recommendation-item-3 {
  grid-area: r3;
}

.feature-item-2 {
  grid-area: f2;
}

.feature-img-2 {
  grid-area: img2;
}

.feature-item-3 {
  grid-area: f3;
}

.feature-item-4 {
  grid-area: f4;
}

.feature-item-5 {
  grid-area: f5;
}

/*Main header*/

.main-header {
  display: grid;
}

/*Main navigation*/

.main-navigation {
  display: grid;
  background-color: var(--basic-white);
}

.site-navigation {
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.site-navigation li {
  justify-self: center;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:focus {
  color: var(--basic-brown)
}

/*Container*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Logo*/

.main-header-bar {
  background-color:var(--basic-white);
}

.main-navigation-wrapper {
  display: grid;
  padding: 0 auto;
  margin: 0 10px;
}

.main-header-logo {
  justify-self: center;
}

/*Main welcome*/

.main-welcome {
  display: grid;
  background-image: url(../img/background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  height: 509px;
}

.main-welcome img {
  justify-self: center;
  margin-top: 77.35px;
}

.welcome-p {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
}

/*Section features*/

.features {
  text-align: center;
  color: var(--basic-black-gray);
  margin-bottom: 58px;
}

.features-list {
  margin: 0;
  margin-top: 51px;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows:  256px 330px 256px 256px;
  grid-template-areas: 
  "f1 img1 img1"
  "r1 r2 r3"
  "img2 img2 f2"
  "f3 f4 f5";
}

.feature-img-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-img-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features-p {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black-gray);
}

.feature-item {
  padding: 47px;
}

.feature-item,
.recommendation-item {
  color: black;
  list-style: none;
}

.standout-feature-item {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.feature-item h3,
.recommendation-item h3 {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.standout-feature-item h3 {
  color: var(--basic-white);
}

.recommendation-item {
  background-color: var(--basic-white);
  padding: 47px;
}

.feature-item-gray {
  background-color: var(--basic-gray);
  padding: 47px;
}

/*Section search*/

.search {
  text-align: center;
}

.subtitle {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

.subtitle + p {
  font-size: 14px;
  line-height: 24px;
}

.button-search {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 568px;
  height: 86px;
  margin-top: 30px;
}

.button-search:hover {
  color: var(--basic-white);
  background-color: var(--basic-dark-brown);
}

.button-search:active  {
  color: var(--white-opacity);
  background-color: var(--basic-extra-brown);
}

/*Main footer*/

.main-footer {
  background: var(--white-more-opacity);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 50px;
  grid-gap: 20px;
}

.footer-contacts {
  padding-top: 23px;
}

.footer-social {
  padding-top: 36px;
}

.footer-copyright {
  padding-top: 38px;
}

.main-footer section {
  justify-self: center;
}

.footer-contacts a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-contacts p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
}

/*Catalog.html*/

/*header*/

.site-navigation .current-nav {
  color: var(--basic-brown);
}

/*section filters*/

.filters {
  background: var(--basic-blue);
  width: 1200px;
  color: var(--basic-white);
}

.filters ul {
  list-style: none;
}

.filters legend{
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter-search-button {
  text-transform: uppercase;
  background-color: transparent;
  color: var(--basic-white);
}

.filter-search-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}


/*section catalog*/

.sorting-subtitle {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-p {
  font-size: 12px;
  line-height: 18px;
}

.sorting {
  list-style: none;
}

.sorting a {
  font-size: 12px;
  line-height: 18px;
  color: var(--black-opacity);
  border-bottom: 1px dashed var(--basic-blue);
}

.sorting a:hover {
  color: var(--basic-blue);
}

.sorting a:focus {
  color: var(--basic-blue);
  border: none;
}

.sorting a:active {
  color: var(--basic-black);
  border: none;
}

.sorting .current-sort {
  color: var(--basic-blue);
  border: none;
}

.rating {
  background: var(--basic-extra-gray);
  color: var(--basic-dark-gray);
  text-align: center;
  width: 110px;
  height: 27px;
  line-height: 1.9em;
}

.rating-star {
  color: var(--basic-blue);
}

.catalog-list {
  list-style: none;
}

.catalog-item p {
  color: var(--basic-black-gray);
}

.catalog-item h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.lodging-name {
  color: var(--basic-black);
}

.lodging-name:hover {
  color: var(--basic-blue);
}

.lodging-name:active {
  color: var(--black-opacity);
}

.catalog-reservation {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  font-weight: bold;
  padding: 5px;
}

.catalog-reservation:hover {
  background-color: var(--basic-dark-brown);
}

.catalog-reservation:active {
  color: var(--white-opacity);
  background-color: var(--basic-extra-brown);
}

.catalog-detail {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  font-weight: bold;
  padding: 5px;
}

.catalog-detail:hover {
  background-color: var(--basic-dark-blue);
}

.catalog-detail:active {
  color: var(--white-opacity);
  background-color: var(--basic-extra-blue);
}